.employee-card-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	column-gap: 30px;
	row-gap: 30px;
	justify-items: center;
	padding: 50px 75px;
	align-content: center;
}

/* =================
    Media queries 
   ================= */
@media (min-width: 750px) {
	.employee-card-list {
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	}
}
